body {
    font-family: Arial, sans-serif;
    background: url(../images/welcome-hero/banner2.jpg);
    background-position:center;
    background-size:cover;
    padding: 40px;
}

.register-form {
    width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.register-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.register-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

.register-form input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.register-form button {
    margin-top: 20px;
    width: 103%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #2980b9;
}

/* Responsive: 1 columna en pantallas pequeñas */
@media (max-width: 560px) {
    .register-form{
        width: 300px;
    }
}
@media (max-width: 445px) {
    .register-form{
        width: 200px;
    }
}
